<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <style>
        a{text-decoration:none}
    </style>
</head>
<body>
<img src="__ROOT__/Apps/WeChat/View/default/images/img/yz.jpg" alt="" width=100%>
<div style='text-align: center;margin-bottom: 20px'>
    <a href="{:U('Games/index')}" style='color: #fff;padding: 10px 30px;background: #2CA347;border-radius: 5px'>我知道了</a>
</div>

</body>
</html>