@charset "utf-8";
body {
	background-color:#1d1d1d;
	/*background-color:#004357;*/
	margin:0px;
	height:100%;
	
}
.line{
	width:1px;
	display: inline-block;
	overflow:hidden;
	}
header{
	width:100%;
 /*   height:20%;*/
	border-bottom:solid #333 1px;
	height:40px;
		
/*	background-repeat:no-repeat;
	background-position:10px 3px;
	background-size:40px 40px;*/
	}
header p{
	color:#FFF;
	font-size:12px;
	text-align:center;
	margin-top:0px;
	line-height:40px;
	background:rgba(0,0,0,0.8);
	}
#sect{
	position:fixed;
	top:0px;
	width:100%;
	height:100%;
	margin:0 auto 0 auto;
	overflow: auto;
	overflow-y:;
	float:left;
	max-width:550px;
	background-image:url(../images/_20177s.jpg);
	background-repeat:no-repeat;
	background-size:100% 100%;
	}	
#balance{
	width:100%;
	height:80px;
	float:left;
	background-color:rgba(0,0,0,0.7);
	}
.header_left{
	/*width:20%;*/
	height:100%;
	float:left;
	}
.header_p1{
	margin-top:15px;
	text-align:center;
	color:#e78a45;
	font-size:1.1em;
	}
.header_p2{
	margin-top:-13px ;
	text-align:center;
	color:#e78a45;
	font-size:0.9em;
	}
.header_border{
	width:1px;
	height:50px;
	/*background-color: #666;*/
	float:left;
	margin-top:15px;
	}
#Recharge{
	width:100%;
	height:80px;
	float:left;
	border-top:solid #333 1px;
	border-bottom:solid #333 1px;
	background-color:rgba(0,0,0,0.7);
	}
.id{
	width:32%;
	height:100%;
	float:left;
	
	}
.id ul{
	width:100%;;
	height:100%;
	float:left;
	margin:0;
	padding:0;
	}
.id_bq{
	color: #CCC;
	font-size:16px;
	margin:20px 0 0 40px;
	
	}
.id_nr{
	list-style:none;
	color:#CCC;
	margin:5px 0 0 20px;
	font-size:16px;
	letter-spacing:4px;}
.chongztx{
	width:67%;
	height:100%;
	float: right;
	}
.chongztx_c{
	display:block;
	width:50%;
	height:50%;
	color:#FFF;
	text-decoration:none;
	float:left;
	margin-top:10px;
	letter-spacing:3px;
	}
.chongztx_c p{
	width:70%;
	height:46px;
	text-align:center;
	line-height:40px;
	border-radius:5px;
	margin-left:auto;
	margin-right:auto;
	/*	background-color: rgba(255,0,0,0.8);
	border-right:solid 2px #FF6600;
	border-bottom:solid 1px #FF6600;*/
	background-image:url(../images/anniu4.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	
	}
.chongztx_t{
	display:block;
	width:50%;
	height:50%;
	color:#FFF;
	text-decoration:none;
	float:left;
	margin-top:10px;
	letter-spacing:3px;
	}
.chongztx_t p{
	width:70%;
	height:46px;
	text-align:center;
	line-height:40px;
	border-radius:5px;
	margin-left:auto;
	margin-right:auto;
/*	background-color:rgba(51,204,204,0.8);
	border-bottom:solid 1px  #33FFFF;
	border-right:solid 2px #33FFFF;*/
	background-image:url(../images//anniu5.png);
	background-repeat:no-repeat;
	background-size:100% 100%;

	}
#dailis{
	width:100%;
	height:90px;	
	float:left;
	border-bottom:solid #333 1px;
	background-color:rgba(0,0,0,0.5);
	}
.daili_zq{
	width:33%;
	height:100%;
	float:left;
	text-decoration:none;
	display:block;	
	}
.hongdian{
	width:16px;
	height:16px;
	list-style:none;
	background-color:#F00;
	color:#FFF;
	font-size:10px;
	text-align:center;
	line-height:15px;
	border-radius:8px;
	margin-top:10px;
	left:50%;
	margin-left:-30%;
	position: absolute;
	}
.daili_zq img{
	width:45px;
	height:45px;
	margin:20px auto 0 auto;
	display:block;
	}
.daili_zq p{
	text-align:center;
	color:gray;
	font-size:0.7em;
	margin-top:3px;
	}
#kaishisl{
	width:100%;
	height: 70px;
	padding:0px 0 10px 0;
	float:left;
	color:#FFF;
    border-bottom:solid #333 1px;
	/*background-color:rgba(0,63,84,0.9);*/
	}
#kaishisls{
	width:100%;
	height: 70px;
	padding:0px 0 10px 0;
	float:left;
	color:#FFF;
	border-bottom:solid #333 1px;
	/*background-color:rgba(0,0,0,0.7);*/
}
.kaishisl_an{
	display:block;
	width:80%;
	height:60px;
	margin:0 auto 0 auto;
	margin-top: -8px;
/*	background-color:#F00;*/
	text-align:center;
	line-height:60px;
	border-radius:5px;
	text-decoration:none;
	color: #FFF;
	font-size:1.2em;
	letter-spacing:10px;	
	}
.kaishisl_an p{
	width:100%;
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:center;
	
	}	
	
#jinp{
	width:100%;
	height:20px;
	color: #999;
	font-size:0.7em;
	padding-top:5px;
	float:left;
	margin-bottom:80px;
	}	
#jinp ul{
	margin:0;
	padding:0;
	width:100%;	
	}
#jinp li{
	list-style:none;
	text-align:center;
	color:#09A748;
	line-style-image:url(../images/wx001.png);
	}
#jinp li img{
		padding-top:5px;
	}			
#jinp a{
	text-align:center;
	display:block;
	width:auto;
	color:gray;
	text-decoration:none;
	}
footer{
	width:100%;
	height:55px;
	position: fixed;
	bottom: 0px;
	background-color:#1b1a1f;
	border-top-style:solid;
	border-top-color:#666;
	border-top-width:1px;
	float:left;
	}
.d_footer{
	width:25%;
	float:left;
	height:55px;
	text-decoration:none;
	}
.ul_footer{
	margin:0px 0px 0px -5px;
	padding:0px;
	width:100%;
	height:55px;;
	}
.img_footer {
	width:28px;
	height:auto;
	display:block;
	margin:5px auto 0 auto;
	}
.d_footer p{
	text-align:center;
	color:gray;
	margin-top:0px;
	font-size:0.7em;

	}
/*------------------------扫雷css---------------------------------*/
#saolei_sen{
	width:100%;
	height:auto;
	float:left;
	padding-bottom:0px;
	background-color:rgba(0,63,84,0.8);
	/*background-color:#1d1d1d;*/
	}
.saolei_danshuang{
	width:100%;
	height:60px;
	float:left;
	}
.saolei_danshuang ul{
	margin:0;
	margin-top: -5px;
	padding:0;
	}

.danlei{
	float:left;
	margin-left:5%;
/*	background-color:#F00; image4*/
    background-image:url(../images/anniu4.png);
	background-size:100% 100%;
	background-repeat:no-repeat;
	}
.duolei{
	float:right;
	margin-right:5%;
	background-image:url(../images/anniu3.png);
	background-size:100% 100%;
	background-repeat:no-repeat;
	}
.saolei_danshuang ul li{	
	width:43%;
	height:50px;
/*	background-color:#3CC;*/
	list-style:none;
	text-align:center;
	margin-top:10px;
	line-height:50px;
	color:#FFF;
/*	border-radius:3px;
	border:solid 2px rgba(51,51,51,0.9);*/
	}
.saolei_cs{
	width:100%;
	height:20px;
	float: left;
	}
.saolei_cs ul{
	margin:0;
	padding:0;
	}
.cs_left{
	list-style:none;
	font-size:14px;
	line-height:20px;
	float:left;
	margin-left:6%;
	color:rgba(204,153,0,0.8)
	}
.cs_right{
	font-size:14px;
	line-height:20px;
	text-decoration:none;
	float:right;
	margin-right:6%;
	color:#3CF
	}
.henxian{
	width:88%;
	height:1px;
	background-color:rgba(255,255,255,0.5);
	margin:-20px auto;
	}
.xuanshou{
	width:100%;
	height:80px;
	color:#FFF;
/*	background-color:rgba(0,102,51,0.5);*/
	float:left;
	margin-top:20px;
	}
.xuanshou ul{
	margin:0;
	padding:0;
	}
.xuanshou ul li {
	list-style:none;
	margin-top:10px;
	height:30px;
	line-height:30px;
	border-radius:5px;
	}
.xuanshou_sl{
	width:auto;
	float:left;
	margin-left:5%;
	margin-right:10px;
	color:rgba(255,255,255,0.8);
	}
.xuanshou_zd{
	float:left;
	width:15%;
	text-align:center;
	/*background-color:#0C9;*/
	margin-left:4%;
	background-image:url(../images/anniu13.png);
	background-size:100% 100%;
	}
.xuanshou_j{
	width:10%;
	text-align:center;
	float:left;
	font-size:30px;
	margin-left:4%;
	}
.xuanshou_s{
	width:10%;
	text-align:center;
	float:left;
	font-size:24px;
	margin-left:4%;
	color:#3C9;
	}
.xuanshou_jh{
	width:10%;
	text-align:center;
	float:left;
	font-size:30px;
	margin-left:4%;
	}
.xuanshou_zx{
	width:15%;
	float:right;
	margin-right:5%;
	text-align:center;
/*	background-color:#0C9;*/
    background-image:url(../images/anniu13.png);
	background-size:100% 100%;
	}
	
	
#gexiangfy{
	width:100%;
	height:auto;
	float:left;
	margin-top:-35px;
/*	background-image:url(../imges/1d44.png);
	background-repeat:no-repeat;
	background-size:45% 100%;
	background-position:center;*/
	}
#gexiangfy ul{
	width:100%;
	margin:0 0 150px 0;
	padding:0;
	
	}
#gexiangfy ul li{
	list-style: none;
	float:left;
	width:100%;
	color:#FFF;
	font-size:12px;
	height:20px;
	line-height:20px;
	}
.gexiangfy_p1{
	float:left;
	margin-left:7%;
	color: #CCC;
	}
.gexiangfy_p2{
	float:right;
	margin-right:7%;
	color:#099;}
		
	
/*----------------------雷区---------------------------*/

#xuanleiqu_a{
	width:90%;
	height:200px;
/*	border:solid 1px rgba(255,153,0,0.5);*/
	float:left;
	margin:-65px auto 0 5%;
	}
.leiqu_noe{
	display:block;
	width:100%;
	height:auto;
	margin:-10px 0 0 0;
	padding:0;
	float:left;
	}
#xuanlei{
	display:none;
	}
.leiqu_ys{
	width:20%;
	height:auto;
	list-style:none;
	float:left;
	margin-top: 10px;
	}
#xuanlei_1{
	width:3em;
	height:3em;
	display:block;
	background-image:url(../images/lei1.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin-left:auto;
	margin-right:auto;	
	text-align:center;
	line-height:3em;
	}

#xuanlei_1 p{
	color: #CCC;
	font-size:30px;
	}
.mailei_wz{
	margin:5px 0 ;
	padding:0;
	width:100%;
	height:15px;
	float:left;
	}
.mailei_wz li{
	list-style:none;
	font-size:12px;
	color:rgba(102,102,102,0.8);
	text-align:center;
	height:100%;
	line-height:15px;
	}
#anniu{
	width:100%;
	height:70px;
	float:left;
	margin-top:-25px;
	}
.submit{
	color:#FFF;
	font-size:18px;
	width:80%;
	height:70px;
	margin-left:10%;
	/*background-color: #F00;
	border-width:0px;
	border-bottom: solid 5px #EC0000;
	border-right:solid 3px #EC0000;
	border-radius:3px;*/
	border-width:0px;
	background-image:url(../images/anniu5.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	border-radius:5px;
	background-color:rgba(255,255,255,0)
	}
	
